:root {
  --primary-color: hsl(170, 100%, 26%);
  --headline: hsl(210, 11%, 15%);
  --paragraph: hsl(210, 9%, 31%);

  --brand-beige: hsl(39, 100%, 97%);
  --brand-light: hsl(148, 23%, 89%);

  --backgound: hsla(192, 15%, 94%, 1);
  --rosa: #c2185b;
  --fonte-roxo: hsl(262, 47%, 55%);
  font-size: 62.5%;

  --nav-height: 7.2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  background-color: var(--backgound);
  font-family: 'Roboto';
  font-size: 1.6rem;
}

.wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 auto;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
}

/* -------------------------- Inicio ------------------------ */

.inicio {
  max-width: 35.8rem;
  max-height: 70.2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -35.1rem;
  margin-left: -17.9rem;
  text-align: center;
}

.inicio h1 {
  font-family: 'Oswald';
  font-size: 3.6rem;
  top: 50%;
  left: 50%;
  color: var(--rosa);
  margin-bottom: 14rem;
}

@media screen and (max-height: 700px){
  .inicio h1 {
    opacity: 0;
    margin-top: -2vh;
  }
}

@media screen and (max-width: 500px){
  .inicio h1 {
    font-size: 9.5vw;
  }
}

.inicio .card img {
  position: absolute;
  top: 10%;
  left: 15%;
  max-width: 24.3rem;
  border-radius: 13rem;
  margin-bottom: 1.2rem;
  padding: 1.2rem;
  background-color: white;
}

@media screen and (max-height: 700px){
  .inicio .card img {
    margin-top: -2vh;
  }
}

@media screen and (max-height: 600px){
  .inicio .card img {
    width: 100vw;
    bottom: 50%;
    right: 50%;
  }
}

.card .text {
  max-width: 35.7rem;
  max-height: 36.9rem;
  border-radius: 2rem;
  padding-top: 13rem;
  background-color: white;
  padding-inline: 1.3rem;
  padding-bottom: 1.3rem;
}

@media screen and (max-height: 700px){
  .card .text {
    height: auto;
    margin-top: -2vh;
  }
}

@media screen and (max-width: 600px){
  .card .text {
    width: 100vw;
    margin: 0 auto;
  }
}

.card .text p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
}

.inicio .bio-links {
  max-width: 18.8rem;
  max-height: 3.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.3rem;
  margin-inline: auto;
  padding: 5rem;
}

@media screen and (max-height: 700px){
  .inicio .bio-links {
    height: auto;
    margin-top: -2vh;
  }
}

.inicio .bio-links a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  color: black;
}

.bio-social {
  width: 15.1rem;
  height: 3.5rem;
  gap: 2.3rem;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline: auto;
}

@media screen and (max-height: 700px){
  .bio-social {
    height: auto;
    margin-top: -2vh;
  }
}
